<div  ng-controller="adopcionController as vm">
    <div menu-transaccional></div>
    <div class="body">
        <h1 class="titulo">Adopción</h1>
        <div class="row">   	    	
            <div class="form-group col-xs-6 col-sm-6">
        <label >Usuario*</label>
        <input type="text" class="form-control" ng-model="vm.usuario" maxlength="20" readonly>
        <p class="mensajeError"  ng-bind="vm.mensajeUsuario" ></p>
        </div>	
        <div class="form-group col-xs-6 col-sm-6">
        <label >Mascota</label>
        <input type="text" class="form-control" ng-model="vm.mascota" maxlength="20" ng-keyup="vm.functionMascota()">
        <p class="mensajeError"  ng-bind="vm.mensajeMascota" ></p>
        </div>
    </div>
        <div class="row">   	    	
            <div class="form-group col-xs-6 col-sm-6">
                <label >Nombre del adjunto*</label>
                <input type="text" class="form-control" ng-model="vm.nombreAdjunto" maxlength="20" ng-keyup="vm.functionNombreAdjunto()">
                <p class="mensajeError"  ng-bind="vm.mensajeNombreAdjunto" ></p>
            </div>	
            <div class="form-group col-xs-6 col-sm-6">
                <label >Adjunto </label>{{vm.extencionesPermitidas}}
                <input type="file" class="form-control" id="file" ng-model="vm.adjunto" maxlength="20" onchange="angular.element(this).scope().fileChanged(this.files)">
                <p class="mensajeError" >{{vm.mensajeAdjunto}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-6">
                <label >Estado</label>
                <input type="text" class="form-control" ng-model="vm.estado" readonly>
                
            </div>
            <div class="form-group col-xs-6 col-sm-6" ng-show="vm.archivo != ''">
                <a id='dwnldLnk' download='solicitud_documento.pdf' style="display:none;" />    
                <a   ng-click="vm.descargarPDF();" title='Decargar pdf' ><span class="glyphicon glyphicon-download-alt"></span> Descargar archivo</a>
                
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="form-group col-xs-3 col-stm-3">
                <button type="button" class="btn btn-success" ng-disabled="vm.DisabledEnviar"  ng-click="vm.enviar()" >Registrar</button>	
            </div>
            <div class="form-group col-xs-3 col-sm-3">
                <button type="button" class="btn btn-success" ng-disabled="vm.DisabledActualizar"   ng-click="vm.actualizar()" >Actualizar</button>	
            </div>
            <div class="form-group col-xs-3 col-sm-3">
                    <button type="button" class="btn btn-success"   ng-click="vm.cancelar()" >Limpiar</button>	
            </div>
        </div> 
        <div class="row">
            <div class="form-group col-xs-3 col-sm-3">
                <button type="button" class="btn btn-success" ng-disabled="vm.DisabledConsultar"  ng-click="vm.consultar()" >Consultar</button>	
            </div> 
            <div class="form-group col-xs-3 col-sm-3  div-consultar-adopcion">	       
                <input type="text" class="form-control" ng-model="vm.Id" ng-Disabled="vm.idDisabled" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-keyup="vm.functionId2()" placeholder="Identificador">
                <p class="mensajeError"  ng-bind="vm.mensajeId"></p>	
            </div>
        </div>
    </div>
</div>