<div ng-controller="apadrinamientoController as vm">
    <div menu-transaccional></div>
    <div class="body">
        <h1 class="titulo">Apadrinamiento</h1>
        <div class="row">   	    	
            <div class="form-group col-xs-6 col-sm-6">
        <label >Usuario*</label>
        <input type="text" class="form-control" ng-model="vm.usuario" maxlength="20" readonly>
        <p class="mensajeError"  ng-bind="vm.mensajeUsuario" ></p>
        </div>	
        <div class="form-group col-xs-6 col-sm-6">
        <label >Mascota</label>
        <input type="text" class="form-control" ng-model="vm.mascota" maxlength="20" ng-keyup="vm.functionMascota()">
        <p class="mensajeError"  ng-bind="vm.mensajeMascota" ></p>
        </div>
    </div>
        <div class="row">   	    	
            <div class="form-group col-xs-6 col-sm-6">
                <label >Nombre del adjunto*</label>
                <input type="text" class="form-control" ng-model="vm.nombreAdjunto" maxlength="20" ng-keyup="vm.functionNombreAdjunto()">
                <p class="mensajeError"  ng-bind="vm.mensajeNombreAdjunto" ></p>
            </div>	
            <div class="form-group col-xs-6 col-sm-6">
                <label >Adjunto </label>{{vm.extencionesPermitidas}}
                <input type="file" class="form-control" id="file" ng-model="vm.adjunto" maxlength="20" onchange="angular.element(this).scope().fileChanged(this.files)">
                <p class="mensajeError" >{{vm.mensajeAdjunto}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3 col-sm-3">
                <button type="button" class="btn btn-success" ng-click="vm.enviar()" >Enviar</button>	
            </div>
            <div class="form-group col-xs-3 col-sm-3">
                    <button type="button" class="btn btn-success"  ng-click="vm.limpiar()" >Limpiar</button>	
            </div>              
        </div> 
    </div>
</div>

<section class="successs footer-zone-transactional" id="redsocial">
        <img src="assets/piedepagina.png" style="padding-left: 200px">
   </section> 