<!-- <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" /> -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="#page-top"><img class="img-responsive" src="assets/logos.png"  alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#Mascotas">Mascotas</a>
                </li>
                <!-- <li class="page-scroll">
                    <a href="#Eventos">Eventos</a>
                </li> -->
                <li class="page-scroll">
                    <a href="#Nosotros">Nosotros</a>
                </li>
                <li class="page-scroll">
                    <a href="#Ayuda">Ayuda</a>
                </li>
                <li class="page-scroll">
                    <a href="#/registra-suario">Regístrate</a>
                </li>
                <li class="page-scroll" style="padding-right:100px">
                    <a class="" href="#/login" >Ingresar</a>
                </li>
            </ul>
        </div>

</nav>

<link rel="stylesheet" href="assets/botoneshome.css">

<header id="page-top" style='background:url(assets/ompletionw.jpg)'>
</header>

<div class="content-wrapper" ng-controller="homepublicoController as vm" id="dialogContainer" >
   
  
    <!-- <section class="success" id="Eventos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section> -->
    <section class="success" id="Mascotas">
                    <div lista-mascota></div>
    </section>
    <section class="primary" id="Nosotros">
        <div class="containers">
            <div class="row" >
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row" class="col-lg-12 text-center">
                <img src="assets/acerca.png" style="padding-left: 100px;">
            </div>
        </div>
    </section>

   

    <section class="success" id="Ayuda">
            <div class="container">
                <div class="row">
                        <div class="container">
                                <h1>Ayuda</h1>
                                <ul class="timeline">
                                        <li>
                                                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                                <div class="timeline-panel">
                                                  <div class="timeline-heading">
                                                    <h3 class="timeline-title">Manuales</h3>
                                                    <button type="submit" class=""><a href="https://docs.google.com/document/d/1gogVvhB2WB7NKxYhbAC6CCm1uq7ZLUx4v8xkk1yFosw/edit">Manual de Usuario</a></button>
                                                    <button type="submit" class=""><a href="https://docs.google.com/document/d/176Im0fXBOg5aojRnFYMmcnsx_XC9VL8tXXhy-AYL0Bs/edit">Manual técnico</a></button>
    
                                                  </div>
                                                  <div class="timeline-body">
                                                    
                                                  </div>
                                                </div>
                                              </li>
                                    <li>
                                      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                      <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          <h4 class="timeline-title">Preguntas frecuentes</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>¿cómo realizo una adopción?: En la página principal de MIMAS se encuentra una lista con las mascotas que se tienen disponibles para adopción, de las cuales se puede seleccionar cualquiera con presionar el botón adoptar o apadrinar lo que llevará a una nueva ventana en dónde se debe llenar un 
                                              formulario para realizar la solicitud.
                                          </p><br>

                                          <p>¿Las solicitudes cómo las gestiona la fundación?: Después de ser diligenciada la información de la solicitud y enviada a la fundación que tiene la mascota,
                                              ellos reciben la información de todas sus solicitudes y en cada una, según sus estimaciones y procesos propios
                                              cambian el estado de esa solicitud ya sea, aprobada, rechazada, en espera o en proceso. 
                                            </p>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                      <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          <h4 class="timeline-title">Cómo navegar por la página o cómo buscar información</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>Usted puede navegar en esta página de varias maneras: Accediendo a las opciones a través de los menús: Estos se encuentran ubicados en la parte superior de la página (inicio, Mapa del sitio, Glosario, Ayuda, Idioma y Buscador), debajo del encabezado se encuentra el menú principal con acceso a la información más importante del sitio (Acerca de la Entidad, Nuestra Gestión, Normatividad, Servicios de Información, Trámites y Servicios e Interactuemos) y al lado izquierdo (o derecho dependiendo del diseño del sitio de la Entidad) de la pantalla. Allí están las distintas secciones de la página. Pulsando sobre una de estas secciones se desplegarán las secciones correspondientes.</p>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                      <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          <h4 class="timeline-title">Aspectos técnicos</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>Los archivos adjuntos que usted encontrará en este sitio se encuentran en un formato llamado Portable Document Format (PDF), y para poder visualizarlos es necesario disponer de un programa que entienda dicho formato. Hay varios programas, la mayoría gratuitos, capaces de mostrar e imprimir estos documentos. Si Usted todavía no tiene instalado ninguno, le recomendamos usar el Adobe Acrobat Reader, disponible en varios idiomas y para distintas plataformas.</p>
                                          <hr>
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                              <li><a href="https://docs.google.com/document/d/1gogVvhB2WB7NKxYhbAC6CCm1uq7ZLUx4v8xkk1yFosw/edit">Manual de Usuario</a></li>
                                              <li><a href="#">Manual Técnico</a></li>
                                              <li><a href="https://docs.google.com/document/d/176Im0fXBOg5aojRnFYMmcnsx_XC9VL8tXXhy-AYL0Bs/edit">Documentación proyecto</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#">Separated link</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                      <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          <h4 class="timeline-title">Acerca del diseño y estilos de la página</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>El diseño gráfico de este sitio ha sido implementado usando tecnologías estándar de la web, según lo especificado por el World Wide Web Consortium, el organismo encargado de establecer las políticas y especificaciones técnicas que regulan Internet (world wide web). Concretamente, el diseño gráfico se ha creado con Hojas de Estilo, o CSS por sus siglas en inglés. Las hojas de estilo son un conjunto de instrucciones escritas en lenguaje HTML, (HTML es el lenguaje que se usa para publicar contenidos en internet) que definen las apariencias de una página web con el objetivo de que sus estilos se parezcan.</p>
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                            </div>
                </div>
            </div>
        </section>

    <section class="successs" id="redsocial">
            <img src="assets/piedepagina.png" style="padding-left: 200px">
    </section>
</div>

<script>
    $('.timeline-panel').click(function() {
    $('.timeline-body', this).toggle(); // p00f
});
</script>
<script>
    $(function () {

        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

    });
</script>
<div class="modal fade" id="demo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" ng-controller="loginController as vm" id="dialogContainer">
        <div class="">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <div class="container">

                <div class="">
                    <form action="" method="post" name="Login_Form" class="login-box">
                        <div class="row text-center bol">
                            <i class=""></i>
                            <img src="assets/candado.png">
                            </i>
                        </div>
                        <h3 class="form-signin-heading text-center">
                            Inicio de sesión
                        </h3>

                        <hr class="spartan">

                        <form action="">
                            <table>
                                <tr>
                                    <td WIDTH="500">
                                            <div class="form-group">
                                                    <div class="col-lg-1">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-lg-11">
                                                        <input id="username" placeholder="Username" type="text" class="form-control" ng-model="vm.usuario"  ng-keyup="vm.functionUsuario()" />
                                                        <p class="mensajeError"  ng-bind="vm.mensajeUsuario" ></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-1">
                                                        <i class="fa fa-key" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-lg-11">
                                                        <input id="password" placeholder="Password" type="password" class="form-control" ng-model="vm.contrasena"  ng-keyup="vm.functionContrasena()"/>
                                                        <p class="mensajeError"  ng-bind="vm.mensajeContrasena" ></p>
                                                    </div>
                                                </div>
                                                       
                    
                                                <div class="form-group">
                                                    <div class="buttons">
                                                        <div class="col-sm-5 controls"> </div>
                                                        <button type="button" href="#" id="button1" class="btn btn-primary pull-right" ng-click="vm.login()">
                                                            <i class="glyphicon glyphicon-log-in"></i> Ingresar</button>
                                                    </div>
                                                    <hr class="spartan">
                                                </div>
                                    </td>
                                    <td>
                                            <!-- <img src="assets/redes.png"> -->
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <div class="row">
                                                        <div class="form-group col-xs-12 col-sm-12">
                                                        <a href="#">¿Olvidaste tu cuenta?</a>	 
                                                        <a style="padding-left:100px" href="#/registra-suario">Registrate</a>          
                                                    </div>
                                                    </div>
                                                    <md-content>          
                                                        <div ng-if="status">
                                                        <br/>
                                                        </div>
                                                    </md-content> 
                                        </td>
                                    </tr>
                            </table>
                        </form>
                        <!-- <div id='recaptcha' class="g-recaptcha"
                                                data-sitekey="6LeDsDIUAAAAAOTgmn8pB__pcQClFbSno2zA7nvX"
                                                data-callback="login"
                                                data-size="invisible"></div>   -->
                        <hr class="">
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




















<!--HOME PÚBLICO-->
<!-- <div class="header"> -->

<!--MENÚ-->
<!-- <div class="container">
		<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
                            <li>
                                <a class="gn-icon gn-icon-Informacion">Información</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-miembros">Miembros</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-donaciones">Donaciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Galería</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Galería</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Mascotas</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Fundaciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Adopciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Apadrinamiento</a>
                        
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <li>
                <a href='#/' class=""><img src="assets/logito.png"></a>
            </li>
            <li class='last'>
                <a href='#/login'><span><img src="assets/usuario.png"></span></a>
            </li>
        </ul>
    </div> -->
<!-- </div>



<div>
    <div class="body-home-publico"  ng-controller="homepublicoController as vm" id="dialogContainer" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                
                </div>
                <div class="col-xs-12 centered logo "></div>

                </div>
            </div>
        </div>
    <div class="container-fluid">
    </div>
    <div class="social">
    </div>
</div>
<footer>
    <div class="footer"></div>
    </div>
</footer> -->





<!-- <script>
    $('.gn-icon-menu').hover(function () {
        $('.gn-menu-wrapper').toggleClass('gn-open-part');
    });
      
    $('.gn-menu-wrapper').hover(function () {
        $(this).toggleClass('gn-open-all');
    })
</script> -->