<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #d6e5f6">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="#page-top"><img class="img-responsive" src="assets/logos.png"  alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#/#Mascotas">Mascotas</a>
                </li>
                <li class="page-scroll">
                    <a href="#/#Eventos">Eventos</a>
                </li>
                <li class="page-scroll">
                    <a href="#/#Nosotros">Nosotros</a>
                </li>
                <li class="page-scroll">
                    <a href="#/#Ayuda">Ayuda</a>
                </li>
                <li class="page-scroll">
                    <a href="#/registra-suario">Regístrate</a>
                </li>
                <li class="page-scroll" style="padding-right:100px">
                    <a class="" href="#/login" >Ingresar</a>
                </li>
            </ul>
        </div>

</nav> 
        <div class="body-login"  ng-controller="loginApadrinarController as vm" id="dialogContainer" >
        <h1 class="titulo-login">Iniciar sesión</h1>
        <div class="row">   	    	
           <div class="form-group col-xs-12 col-sm-12">
            <label for="usr">Usuario* (Correo registrado)</label>
            <input type="text" class="form-control" ng-model="vm.usuario"  ng-keyup="vm.functionUsuario()">
              <p class="mensajeError"  ng-bind="vm.mensajeUsuario" ></p>
          </div>
        </div>
        <div class="row">
           <div class="form-group col-xs-12 col-sm-12">
            <label for="usr">Contraseña*</label>
            <input type="password" class="form-control" ng-model="vm.contrasena"  ng-keyup="vm.functionContrasena()">
             <p class="mensajeError"  ng-bind="vm.mensajeContrasena" ></p>
          </div>
        </div>
        <div id='recaptcha' class="g-recaptcha"
         data-sitekey="6LeDsDIUAAAAAOTgmn8pB__pcQClFbSno2zA7nvX"
         data-callback="login"
         data-size="invisible"></div>   	  
        <div class="row botones">
           <div class="form-group col-xs-6 col-sm-6">
            <button type="button" class="btn btn-success" ng-click="vm.cancelar()">Cancelar</button>
          </div>
          <div class="form-group col-xs-6 col-sm-6">
             <button type="button" id="button1" class="btn btn-success" ng-click="vm.login()">Aceptar</button>
          </div>
        </div>
        <div class="row">
           <div class="form-group col-xs-12 col-sm-12">
            <a href="#">¿Olvidaste tu cuenta?</a>	           
          </div>
        </div>
        <div class="row">
           <div class="form-group col-xs-12 col-sm-12">
            <a href="#/registra-suario">Regístrate</a>	           
          </div>
        </div>     	 
       <md-content>          
           <div ng-if="status">
              <br/>
           </div>
        </md-content>   
  </div> 
  <section class="successs footer-zone-transactional" id="redsocial">
        <img src="assets/piedepagina.png" style="padding-left: 200px">
   </section> 