<link rel="stylesheet" type="text/css" href="assets/menutransaccional.css">
<div class="header">
		<div id='cssmenu'>
			<ul>
				<li class='active has-sub'><a href='#/adopcion/0'><span>Adoptar o apadrinar</span></a>
					<ul>
						<li class='has-sub'><a href='#/adopcion/0'><span>Adoptar</span></a></li>
						<li class='has-sub'><a href='#/apadrinamiento/0'><span>Apadrinar</span></a></li>
						<li class='has-sub'><div ng-if="vm.rol =='1' || vm.rol =='2'|| vm.rol =='3'"><a href='#/solicitud-adopcion'><span>Solicitudes de adopción</span></a></div></li>
						<li class='has-sub'><div ng-if="vm.rol =='1' || vm.rol =='2'|| vm.rol =='3'"><a href='#/solicitud-apadrinamiento'><span>Solicitudes de apadrinamiento</span></a></div></li>

					</ul>
				</li>
				<!-- <li class='active has-sub'><a href='#'><span>Mi perfil</span></a>
				</li> -->
				<li class='active has-sub'><a href='#/mascota'><span>Mis mascotas</span></a>
				<ul>
					<li class='has-sub'><a href='#/mascota'><span>Gestionar mascota</span></a></li>
					</ul>
				</li>
				<li class='active has-sub'><a href='#/'><span>Fundaciones</span></a>
				<ul>
					<!-- <li><a href="#/adopcion">Adopciones</a></li> -->
					<li><a href="#/evento">Eventos</a></li>
					<!-- <li><a href="#">Colaboradores</a></li> -->
					<!-- <li><a href="#">Contacto</a></li> -->
					<!-- <li><a href="#">Donaciones</a></li> -->
					<!-- <li><a href="#">Reportes y estadisticas</a></li> -->
				</ul>
				</li>
				<li class='active has-sub'><a href='#'><span>Administración</span></a>
				<ul>
					<li><div ng-if="vm.rol =='1'"	><a href="#/">Roles</a></div></li>
					<li><a href="#/usuario">Usuarios</a></li>
				</ul>
				</li>
				<li class='active has-sub'><a href='#/salir'><span>Salir</span></a></li>
				<li class='active has-sub'><a href='#/'></p></a></li>
				<div class="bienvenidaUsuario "><span>Hola  </span><span class="capitalize">{{vm.bienvenidaUsuario}} </span></div>
			</ul>
			
	 </div>
	 
</div>