#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 18px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  background: #070707;
  /* box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000; */
  /* background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%); */
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
 
  font-size: 17px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background:  #0c0c0c;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}




*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gn-menu-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 60px;
  font-size: 13px;
}
.gn-menu-main a {
  display: block;
  height: 100%;
  color: #ecf0f5;;
  text-decoration: none;
  cursor: pointer;
}
.gn-menu-main a:hover {
  background-color: #5f6f81;
  color: #fff;
}
.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  border-right: 1px solid #c6d0da;
  text-align: center;
}
.gn-menu-main > li > a {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.gn-menu-main > li :after {
  display: table;
  clear: both;
  content: '';
}
.gn-menu-main li.gn-trigger {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gn-menu-main > li:last-child {
  display: block;
  float: right;
  height: 100%;
  border-right: 1px solid #c6d0da;
  text-align: center;
}

.gn-menu-mai > li:last-child {
  float: right;
  border-right: none;
  border-left: 1px solid #c6d0da;
}

.gn-menu-main, .gn-menu-main ul {
  margin: 0;
  padding: 0;
  background-color: #35313000;
  color: #5f6f81;
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: Arial, sans-serif;
  line-height: 60px;
}

.gn-menu-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  border-top: 1px solid #3531301f;
  background-color: #3531301f;
  transform: translateX(-60px);
  transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%;
}

.gn-menu {
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 18px;
}
.gn-menu li:not(:first-child), .gn-menu li li {
  box-shadow: inset 0 1px #c6d0da;
}

.gn-submenu li {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}
.gn-submenu li a {
  color: #c1c9d1;
}

input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #5f6f81;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  cursor: pointer;
}
input.gn-search::placeholder {
  color: #5f6f81;
}

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'FontAwesome';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
  content: url(imag.png);
}

.gn-icon-cog::before {
  content: "";
}

.gn-icon-search::before {
  content: url(buscar.png);
}

.gn-icon-miembros::before {
  content: url(miembros.png);
}
.gn-icon-Informacion::before {
  content: url(informacion.png);
}

.gn-icon-donaciones::before {
  content: url(donacion.png); 
}

.gn-icon-Galeria::before {
  content: url(galeria.png);
}

.gn-icon-men::before {
  content: url(home.png);
}

.gn-icon-illustrator::before {
  content: "";
}

.gn-icon-archive::before {
  content: "";
}

.gn-icon-article::before {
  content: "";
}

.gn-icon-pictures::before {
  content: "";
}

.gn-icon-videos::before {
  content: "";
}

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  /*margin-left: -15px;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #5f6f81;
  box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
  content: '';*/
  margin-left: -30px;
  content: url(menu.png);
}

.gn-icon-menu:hover::before,
.gn-icon-menu.gn-selected:hover::before {
  /*background: white;
  box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;*/
  margin-left: -30px;
  content: '\f03a';
}

.gn-icon-menu.gn-selected::before {
  background: #5993cd;
  box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
  width: 340px;
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 60px;
}




.containers > header,
.codrops-top {
  color: rgb(31, 62, 109);
  font-family: 'Lato', Arial, sans-serif;
}

.containers > header {
  margin: 0 auto;
  padding: 12em 2em;
  padding-left: 500px;
  background: url(logo.jpg) no-repeat center;
}

.containers > header a { 
  color: #566473;
  text-decoration: none;
  outline: none;
}

.containers > header a:hover {
  color: #4f7bab;
}

.containers > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.containers {
    width: 300px;
}

.containers > header span {
  display: block;
  font-size: 55%;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}




.navbar-brand {
  float: left;
  height: 50px;
  font-size: 18px;
  padding: 0px 50px 10px;
  line-height: 20px;
}



.container > header,
.codrops-top {
  color: rgb(31, 62, 109);
  font-family: 'Lato', Arial, sans-serif;
}

.container > header {
  margin: 0 auto;
  padding: 12em 2em;
  padding-left: 500px;
  background: url(logo.jpg) no-repeat center;
}

.container > header a { 
  color: #566473;
  text-decoration: none;
  outline: none;
}

.container > header a:hover {
  color: #4f7bab;
}

.container > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.container {
    width: 700px;
}

.container > header span {
  display: block;
  font-size: 55%;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

body {
  background: #34495e;
}





/* .hizli-menu {
  padding-bottom: 50px;
} */

.hizli-menu .hizli-menu-ic .btn-group {
  background: #24aad2;
    color: #fff;
    font-size: 18px;
    display: flex;
    width: 145%;
    align-items: center;
    height: 60px;
    padding: 26px 36px 26px 40px;
    margin: 0;
    position: relative;
    border-radius: 5px;
}

.hizli-menu .hizli-menu-ic .btn-group:hover {
  background: #333333;
}

.hizli-menu .hizli-menu-ic .btn-group:After {
  position: absolute;
  display: block;
  content: "";
  width: 76px;
  height: 8px;
  background: #333;
  bottom: -8px;
  left: 10px;
  margin: auto;
  transition: cubic-bezier(0, 0.71, 0, 1.07) .7s;
}

.hizli-menu .hizli-menu-ic .btn-group:hover:After {
  background: #f2565a;
  transform: translate(0,0px);
  height: 91px;
  border-radius: 8px;
}
.hizli-menu .hizli-menu-ic .btn-group img {margin-right:12px;height: 38px;position: absolute;z-index: 777;}
.hizli-menu .hizli-menu-ic .btn-group span {
  margin: 5px;
  display: block;
  font-weight: 800;
  padding-left: 15px;
}
.mbottom {
  margin-bottom: 30px;
  padding-left: 90px;
}

.row {
  margin-right: -15px;
  margin-left: -27px;
}






.wrapper{
  margin-top: 45px;
}
.form-signin{
max-width: 700px;
padding: 6px 100px 100px;
margin: 0 auto;
border: 1px solid #f4f5f7;
}
.input-group{
  height: 45px;
  margin-bottom: 15px;
  border-radius: 0px;
  color: #60B99A;
}
.form-control{
  height: 35px;
  color: #60B99A;
}
.input-group:hover span i{
  color: #60B99A;
}
.btn-block{
  border-radius: 0px;
  margin-top: 25px;
  background-color: #60B99A;
  border: none;
}
.btn-block:hover{
  background-color: #D3CE3D;
}
.bol{
  position: relative;
  margin-top: -70px;
  color: #60B99A;
}



.btn-primary {
  color: #fff;
  background-color: #308897;
  border-color: #308897;
}



@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

h1{
    font-size:30px;
    margin-bottom:30px;
    padding-left:50px;
    font-family: 'Lato', sans-serif; 
}

.fa{
    padding:30px 0px;
}

.login{
    font-family: 'Lato', sans-serif;
    background: #c1c1c0; 
    padding:160px 0px;
}

.login-box{
    background:#FFF;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding:30px;
    border-radius:8px;
    min-height:500px;
}

.form-control{
    /* margin:20px 0px; */
}

.buttons{
    float:right;
    margin:20px 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #252444;
}
 
.bienvenidaUsuario{
  margin-top: 11px;
  font-size: 2em;
  display: inline-flex;
  font-family: initial;
  color: darkblue;
  margin-left: 200px;
}
